<head>
  <link href="http://gmpg.org/xfn/11" rel="profile" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <!-- Enable responsiveness on mobile devices-->
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1"
  />

  <title>
    {% if page.title == "Home" %} {{ site.title }} &middot;
    {{ site.tagline }} {% else %} {{ page.title }} &middot; {{ site.title }} {%
    endif %}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{
    "/theme/css/poole.css" | relative_url
  }}" /> <link rel="stylesheet" href="{{
    "/theme/css/syntax.css" | relative_url
  }}" /> <link rel="stylesheet" href="{{
    "/theme/css/lanyon.css" | relative_url
  }}" />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400"
  />

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{
    "/theme/apple-touch-icon-precomposed.png" | relative_url
  }}" /> <link rel="shortcut icon" href="{{
    "/theme/favicon.ico" | relative_url
  }}" />

  <!-- RSS -->
  <link
    rel="alternate"
    type="application/rss+xml"
    title="RSS"
    href="/atom.xml"
  />
</head>
