<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox" {% if page.title=="Bienvenue" %}checked{% endif %}>
<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a
      class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}"
      href="{{ site.baseurl }}/"
      >Accueil</a
    >

    {% comment %} The code below dynamically generates a sidebar nav of pages
    with `layout: page` in the front-matter. See readme for usage. {% endcomment
    %}
    
    {% assign pages_list = site.pages | sort:"node.title" %} 
    {% for node in pages_list %} 
      {% if node.title != null %} 
        {% if node.layout == "page" %}
    <a
      class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}"
      href="{{ site.baseurl }}{{ node.url }}"
      >{{ node.title }}</a
    >
        {% endif %} 
      {% endif %} 
    {% endfor %}
   
  <div class="sidebar-item">
    <p>&copyleft; {{ site.time | date: "%Y" }}. Biens communs.</p>
  </div>

</div>
