<!DOCTYPE html>
<html lang="en-us">
{% include head.html %}

<body class="layout-reverse sidebar-overlay theme-base-08">

  
  {% include sidebar.html %}

  <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
  <div class="wrap">
    <div class="masthead">
      <div class="container">
        <h3 class="masthead-title">
          <a href="{{ site.baseurl }}/" title="Retour à l'accueil"><img
              src="{{ site.baseurl }}/images/logo-nom-pitch.jpg"></a>
          <!--<h2 class="">{{ site.tagline }}</small>-->
        </h3>
      </div>

    </div>

    <div class="container content">{{ content }}</div>
  </div>

  <label for="sidebar-checkbox" class="sidebar-toggle"></label>

  <script>
    (function (document) {
      var toggle = document.querySelector(".sidebar-toggle");
      var sidebar = document.querySelector("#sidebar");
      var checkbox = document.querySelector("#sidebar-checkbox");

      document.addEventListener(
        "click",
        function (e) {
          var target = e.target;

          if (
            !checkbox.checked ||
            sidebar.contains(target) ||
            (target === checkbox || target === toggle)
          )
            return;

          checkbox.checked = false;
        },
        false
      );
    })(document);

    var sjs = SimpleJekyllSearch({
  searchInput: document.getElementById('search-input'),
  resultsContainer: document.getElementById('results-container'),
  json: '/search.json'
})
  </script>
</body>

</html>